<div class="cs-header-top page-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 clearfix">
                    <p class="cs-phn-numbar"><span class="icon icon-Phone"></span> (+123) 2456 987</p>
                    <p class="cs-mail-address"><span class="icon icon-Mail"></span> <a href="/">Yourmail@gmail.com</a></p>
                </div>
                <div class="col-sm-5">
                    <p class="cs-hearder-top-social text-center">
                        Follow Us:
                        <a href="index-mp-layout-1.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="index-mp-layout-1.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="index-mp-layout-1.html#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="index-mp-layout-1.html#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="index-mp-layout-1.html#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </p>
                </div>
                <div class="col-sm-2">
                    <p class="cs-advice"><span class="icon icon-Phone2"></span><a href="/contact" data-toggle="modal" data-target=".bs-example-modal-md">Free Advise</a></p>
                </div>
            </div>
        </div>
    </div>

     <header class="main-header header-style-three">
        <!--Header-Lower-->
        <div class="header-lower">
            <div class="container">
                <div class="nav-outer clearfix">
                    <!--Logo-->
                    <div class="logo">
                        <a href="/"><img class="img-responsive" src="images/logo.png" alt=""></a>
                    </div>

                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a>
                                </li>
                                <li><a href="/services">Service</a> </li>
                                <li><a href="/blog">Blog</a>
                                </li>
                                <li><a href="/contact">Contact</a></li>                             
                                
                            </ul>
                        </div>
                    </nav>  
                </div>
            </div>
        </div>
        
        
        <!--Bounce In Header-->
        <div class="bounce-in-header hidden-xs">
            <div class="container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index-mp-layout-1.html" class="img-responsive"><img src="images/logo.png" alt=""></a>
                </div>
                
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="index-mp-layout-1.html">Home</a>
                                    <ul>
                                        <li><a href="index-mp-layout-1.html">Homepage One</a></li>
                                        <li><a href="index-mp-layout-2.html">Homepage Two</a></li>
                                        <li><a href="index-mp-layout-3.html">Homepage Three</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="about-1.html">About</a>
                                    <ul>
                                        <li><a href="about-1.html">About Style One</a></li>
                                        <li><a href="about-2.html">About Style Two</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="service-1.html">Service</a>
                                    <ul>
                                        <li><a href="service-1.html">Services Style One</a></li>
                                        <li><a href="service-2.html">Services Style Two</a></li>
                                        <li><a href="service-details.html">Services Details</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="portfolio-4.html">Portfolio</a>
                                    <ul>
                                        <li><a href="portfolio-3.html">Portfolio 3 Column</a></li>
                                        <li><a href="portfolio-4.html">Portfolio 4 Column</a></li>
                                        <li><a href="portfolio-fullwidth.html">Portfolio  Fullwidth</a></li>
                                        <li><a href="portfolio-title.html">Portfolio With Title</a></li>
                                        <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                                        <li><a href="portfolio-popup.html">Portfolio PopUp</a></li>
                                        <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="shop.html">Shop</a>
                                    <ul>
                                        <li><a href="shop.html">Shop Page</a></li>
                                        <li><a href="shop-single.html">Shop Single</a></li>
                                        <li><a href="shop-sidebar.html">Shop With Sidebar</a></li>
                                        <li><a href="shop-cart.html">Shop Cart</a></li>
                                        <li><a href="shop-checkout.html">Shop check Out</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="index-mp-layout-1.html#">Pages</a>
                                    <ul>
                                        <li><a href="team.html">Our Team</a></li>
                                        <li><a href="team-details.html">Team Details</a></li>
                                        <li><a href="pricing-table.html">Pricing Table</a></li>
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="contact-1.html">Contact style One</a></li>
                                        <li><a href="contact-2.html">Contact style Two</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="blog-grid.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                        <li><a href="blog-classic.html">Blog classic</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="shop-box pt8">
                                        <a href="index-mp-layout-1.html#"><span class="icon icon-Search"></span></a>
                        <a href="shop-cart.html"><span class="icon icon-ShoppingCart"></span><sup>2</sup></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                </div>
            </div>
        </div>
    </header>