<!-- page heading start -->
    <section class="cs-page-heading-area page-top" style="background-image: url(images/bgs/07.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 animatedParent animateOnce">
                    <div class="cs-around-bdr animated bounceInDown slow">
                        <div class="cs-pageheading-box text-center">
                            <h2>404</h2>
                            <p><a href="/">Home</a> >> <a href="/404">404</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page heading end -->

    <!-- 404 start -->
    <section class="cs-error-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <ul class="list-inline">
                      <li><h2>4</h2></li>
                      <li class="cs-zero">ouh</li>
                      <li><h2>4</h2></li>
                    </ul>
                    <h1>as you say......Nothing found here !</h1>
                    <form class="input-group">
                        <div class="form-group">
                          <input class="form-control cs-search-input" type="email" placeholder="What are you looking for?">
                        </div>
                        <span class="input-group-btn">
                          <button class="btn btn-default cs-search-btn" type="submit">
                            Search
                          </button>
                        </span>
                    </form>
                    <p>Curabitur quis sollicitudin nunc, ut pharetra quam. Sed dui diam, pulvinar non porttitor vel, ullamcorper non felis. Curabitur purus nisi, tempus quis volutpat at, maximus nec quam. Cras aliquet urna sollicitudin rutrum ullamcorper. Morbi suscipit aliquet est vel bibendum. In eget rutrum est, in dignissim augue. Cras commodo</p>
                    <a class="btn btn-default cs-my-btn" href="/" role="button">Go To Home</a>
                </div>
            </div>
        </div>
    </section>
    <!-- 404 end -->