
    <!-- page heading start -->
    <section class="cs-page-heading-area page-top" style="background-image: url(images/bgs/07.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 animatedParent animateOnce">
                    <div class="cs-around-bdr animated bounceInDown slow">
                        <div class="cs-pageheading-box text-center">
                            <h2>About Us</h2>
                            <p><a href="/">Home</a> >> <a href="/about">About</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page heading end -->


    <!-- about 2 start -->
    <section class="cs-about-area-two cs-inner-about-two animatedParent animateOnce">
        <div class="container">
            <div class="section-wrap">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="cs-about-col">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="cs-about-col text-right cs-text-center-767">
                                        <h4>Who we are</h4>
                                        <h2>let's make you fresher <span>than ever</span></h2>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="cs-about-col cs-text-center-767">
                                        <p>Aenean mattis eros a lacus bibendum pulvinar. Sed maximus non elit id convallis. Aenean finibus malesuada leo, sed elementum ipsum vehicula ut. Quisque nisi erat, tristique non mi vitae.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="cs-about-col cs-about-box animated bounceIn slow delay-250">
                                        <div class="cs-about-box-heading">
                                            <i class="flaticon-gloves"></i>
                                            <h4>Find a great cleaner nearby</h4>
                                            <p>Proin eget mi imperdie</p>
                                        </div>
                                        <p>Etiam vitae augue mollis, tempus urna id, porttitor  mi. Nunc malesuada.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="cs-about-col cs-about-box animated bounceIn slow delay-500">
                                        <div class="cs-about-box-heading">
                                            <i class="flaticon-gloves"></i>
                                            <h4>Manage everything online</h4>
                                            <p>Proin eget mi imperdie</p>
                                        </div>
                                        <p>Etiam vitae augue mollis, tempus urna id, porttitor  mi. Nunc malesuada.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="cs-about-col cs-about-box animated bounceIn slow delay-750">
                                        <div class="cs-about-box-heading">
                                            <i class="flaticon-gloves"></i>
                                            <h4>Go do something fun</h4>
                                            <p>Proin eget mi imperdie</p>
                                        </div>
                                        <p>Etiam vitae augue mollis, tempus urna id, porttitor  mi. Nunc malesuada.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="cs-about-col cs-about-box animated bounceIn slow delay-1000">
                                        <div class="cs-about-box-heading">
                                            <i class="flaticon-gloves"></i>
                                            <h4>Paying online is simple</h4>
                                            <p>Proin eget mi imperdie</p>
                                        </div>
                                        <p>Etiam vitae augue mollis, tempus urna id, porttitor  mi. Nunc malesuada.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="cs-about-col animated bounceInRight slow delay-250">
                            <img src="images/about/03.jpg" alt="images/about/03.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about 2 end -->


    <!-- counter start -->
    <section class="cs-counter-area" style="background-image: url(images/bgs/06.jpg);">
        <div class="container">
            <div class="section-wrap">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="cs-counter-col">
                            <div class="cs-number-count">
                                <i class="flaticon-sweep"></i>
                                <span class="count">40</span>
                                <p>Experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="cs-counter-col">
                            <div class="cs-number-count">
                                <i class="flaticon-sweep"></i>
                                <span class="count">850</span><span>+</span> 
                                <p>Client</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="cs-counter-col">
                            <div class="cs-number-count">
                                <i class="flaticon-sweep"></i>
                                <span class="count">200</span>
                                <p>Employess</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="cs-counter-col">
                            <div class="cs-number-count">
                                <i class="flaticon-sweep"></i>
                                <span class="count">50</span>
                                <p>Global Brance</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counter end -->



    <!-- team start -->
    <section class="cs-team-area animatedParent animateOnce">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <h2>Meet <span>our team</span> </h2>
                        <p><em>Donec suscipit turpis mi, id hendrerit augue ornare nec. Integer ultrices justo non semper varius. Integer ac ex sit amet lacus sollicitudin faucibus sed sed eros.</em></p>
                        <div class="title-2">
                            <div class="long-border"></div>
                            <div class="small-border"></div>
                            <span class="flaticon-dust"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="cs-team-col animated bounceInUp slow delay-250">
                            <!-- hover -->
                            <div class="ih-item square effect3 bottom_to_top">
                                <div class="img">
                                    <img src="images/team/01.jpg" alt="images/team/01.jpg">
                                </div>
                                <div class="socila_group">
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="info">
                                  <h4>emma watson</h4>
                                  <p>founder</p>
                                </div>
                            </div>
                            <!-- end hover -->
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="cs-team-col animated bounceInUp slow delay-500">
                            <!-- hover -->
                            <div class="ih-item square effect3 bottom_to_top">
                                <div class="img">
                                    <img src="images/team/02.jpg" alt="images/team/02.jpg">
                                </div>
                                <div class="socila_group">
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="info">
                                  <h4>emma olivia</h4>
                                  <p>founder</p>
                                </div>
                            </div>
                            <!-- end hover -->
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="cs-team-col animated bounceInUp slow delay-750">
                            <!-- hover -->
                            <div class="ih-item square effect3 bottom_to_top">
                                <div class="img">
                                    <img src="images/team/03.jpg" alt="images/team/03.jpg">
                                </div>
                                <div class="socila_group">
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="info">
                                  <h4>affan ibne hafiz</h4>
                                  <p>founder</p>
                                </div>
                            </div>
                            <!-- end hover -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team end -->



      <!--testimonial start-->
      <section class="cs-testimonial-area">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>what our <span>client says</span></h2>
                        <div class="small-line mbn"></div>
                    </div>
                </div>
            </div>
            <div class="section-wrap">
                <div class="row">
                  <div class="testimonial-2">
                    <!-- single item start -->
                    <div class="item">
                        <div class="cs-testimonial-item">
                           <div class="cs-testimonial-name"> 
                            <img src="images/testimonial/01.jpg" alt="images/testimonial/01.jpg">
                            <h4>Josi welleam</h4>
                            <span>Founder , GitGat</span>
                            <div class="cs-start-mark">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <i class="fa fa-quote-right cs-quote" aria-hidden="true"></i>
                          </div> 
                        </div>
                        <p>Donec malesuada interdum malesuada. Cras placerat fermentum feugiat. Sed dignissim lectus ut diam iaculis ultrices. Nullam posuere tempor enim. Integer sit amet ultrices leo, at consequat turpis. Nullam est elit, ultricies non mauris id, auctor ullamcorper sem. Morbi sed arcu nisi. Integer vestibulum odio sit amet .</p>
                    </div>
                    <!-- single item end -->
                    <!-- single item start -->
                    <div class="item">
                        <div class="cs-testimonial-item">
                           <div class="cs-testimonial-name"> 
                            <img src="images/testimonial/02.jpg" alt="images/testimonial/02.jpg">
                            <h4>Josi welleam</h4>
                            <span>Founder , GitGat</span>
                            <div class="cs-start-mark">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <i class="fa fa-quote-right cs-quote" aria-hidden="true"></i>
                          </div> 
                        </div>
                        <p>Donec malesuada interdum malesuada. Cras placerat fermentum feugiat. Sed dignissim lectus ut diam iaculis ultrices. Nullam posuere tempor enim. Integer sit amet ultrices leo, at consequat turpis. Nullam est elit, ultricies non mauris id, auctor ullamcorper sem. Morbi sed arcu nisi. Integer vestibulum odio sit amet .</p>
                    </div>
                    <!-- single item end -->
                  </div>
                </div>
            </div>
        </div>
      </section>
      <!--testimonial end-->