  <!-- page heading start -->
    <section class="cs-page-heading-area page-top" style="background-image: url(images/bgs/07.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 animatedParent animateOnce">
                    <div class="cs-around-bdr animated bounceInDown slow">
                        <div class="cs-pageheading-box text-center">
                            <h2>Blog</h2>
                            <p><a href="/">Home</a> >> <a href="/blog">Blog</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page heading end -->


    <!-- blog start -->
    <section class="cs-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="cs-blog-col animatedParent animateOnce">
                        <div class="cs-blog-img animated bounceInLeft slow">
                            <img class="" src="images/blog/big1.jpg" alt="images/blog/big1.jpg">
                            <div class="cs-like">
                                <p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="#">22 Likes</a></p>
                            </div>
                            <div class="cs-fullscreen-btn">
                                <a href="#"><span class="icon icon-FullScreen"></span></a>
                            </div>
                            <div class="cs-blog-date">
                                <ul>
                                    <li><span class="icon icon-User"></span> <a href="#">CM Group</a></li>
                                    <li><span class="icon icon-Agenda"></span> <a href="#">March 12, 2018</a></li>
                                </ul>
                            </div>
                            <div class="cs-round-img">
                                <img src="images/blog/06.jpg" alt="images/blog/06.jpg">
                            </div>
                        </div>
                        <div class="cs-blog-text-content">
                            <h4><a href="/blog">Returns Back Rogers</a></h4>
                            <p>Sed interdum, massa eget consectetur sodales, ligula enim suscipit justo, et gravida nisl ligula eu dolor. In tincidunt ipsum turpis, vel venenatis purus placerat ac. Vestibulum a leo nulla. Integer tellus lacus, vestibulum ac quam a, condimentum dapibus purus. Phasellus accumsan leo ut elementum dignissim. Etiam ullamcorper magna odio, non venenatis massa dapibus at. Cum sociis. <a href="/blog">[...]</a></p>
                        </div>
                        <div class="cs-blog-social-box">
                            <ul class="cs-share-icon clearfix">
                                <li>Share:</li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li class="cs-comment"><span class="icon icon-Mail"></span><a href="#">10 Comments</a> </li>
                                <li class="cs-small-blog-btn"><a class="btn btn-default cs-my-btn cs-res-margin" href="/blog" role="button">Learn More</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cs-blog-col animatedParent animateOnce">
                        <div class="cs-blog-img animated bounceInLeft slow">
                            <img src="images/blog/big2.jpg" alt="images/blog/big2.jpg">
                            <div class="cs-like">
                                <p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="/blog">22 Likes</a></p>
                            </div>
                            <div class="cs-fullscreen-btn">
                                <a href="blog-classic.html#"><span class="icon icon-FullScreen"></span></a>
                            </div>
                            <div class="cs-blog-date">
                                <ul>
                                    <li><span class="icon icon-User"></span> <a href="blog-classic.html#">CM Group</a></li>
                                    <li><span class="icon icon-Agenda"></span> <a href="/blog">March 12, 2018</a></li>
                                </ul>
                            </div>
                            <div class="cs-round-img">
                                <img src="images/blog/06.jpg" alt="images/blog/06.jpg">
                            </div>
                        </div>
                        <div class="cs-blog-text-content">
                            <h4><a href="/blog">Returns Back Rogers</a></h4>
                            <p>Sed interdum, massa eget consectetur sodales, ligula enim suscipit justo, et gravida nisl ligula eu dolor. In tincidunt ipsum turpis, vel venenatis purus placerat ac. Vestibulum a leo nulla. Integer tellus lacus, vestibulum ac quam a, condimentum dapibus purus. Phasellus accumsan leo ut elementum dignissim. Etiam ullamcorper magna odio, non venenatis massa dapibus at. Cum sociis. <a href="blog-classic.html#">[...]</a></p>
                        </div>
                        <div class="cs-blog-social-box">
                            <ul class="cs-share-icon clearfix">
                                <li>Share:</li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li class="cs-comment"><span class="icon icon-Mail"></span><a href="#">10 Comments</a> </li>
                                <li class="cs-small-blog-btn"><a class="btn btn-default cs-my-btn cs-res-margin" href="/blog" role="button">Learn More</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cs-blog-col animatedParent animateOnce">
                        <div class="cs-blog-img animated bounceInLeft slow">
                            <img src="images/blog/big3.jpg" alt="images/blog/big3.jpg">
                            <div class="cs-like">
                                <p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="#">22 Likes</a></p>
                            </div>
                            <div class="cs-fullscreen-btn">
                                <a href="#"><span class="icon icon-FullScreen"></span></a>
                            </div>
                            <div class="cs-blog-date">
                                <ul>
                                    <li><span class="icon icon-User"></span> <a href="l#">CM Group</a></li>
                                    <li><span class="icon icon-Agenda"></span> <a href="#">March 12, 2018</a></li>
                                </ul>
                            </div>
                            <div class="cs-round-img">
                                <img src="images/blog/06.jpg" alt="images/blog/06.jpg">
                            </div>
                        </div>
                        <div class="cs-blog-text-content">
                            <h4><a href="/blog">Returns Back Rogers</a></h4>
                            <p>Sed interdum, massa eget consectetur sodales, ligula enim suscipit justo, et gravida nisl ligula eu dolor. In tincidunt ipsum turpis, vel venenatis purus placerat ac. Vestibulum a leo nulla. Integer tellus lacus, vestibulum ac quam a, condimentum dapibus purus. Phasellus accumsan leo ut elementum dignissim. Etiam ullamcorper magna odio, non venenatis massa dapibus at. Cum sociis. <a href="/blog">[...]</a></p>
                        </div>
                        <div class="cs-blog-social-box">
                            <ul class="cs-share-icon clearfix">
                                <li>Share:</li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li class="cs-comment"><span class="icon icon-Mail"></span><a href="blog-classic.html#">10 Comments</a> </li>
                                <li class="cs-small-blog-btn"><a class="btn btn-default cs-my-btn cs-res-margin" href="#" role="button">Learn More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cs-blog-col">
                        <!-- search-fild start -->
                        <div class="cs-search-fild">
                            <form class="input-group">
                                <div class="form-group">
                                  <input class="form-control cs-search-input" type="email" placeholder="Search">
                                </div>
                                <span class="input-group-btn">
                                  <button class="btn btn-default cs-search-btn" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                  </button>
                                </span>
                            </form>
                        </div>
                        <!-- search-fild end -->
                        <!-- archives start -->
                        <div class="cs-archives-fild">
                            <h4>Archives <span>Widget</span> </h4>
                            <div class="small-line-2"></div>
                            <ul class="clearfix">
                                <li>
                                    <i class="flaticon-bin"></i>
                                    <a href="/blog">September 2016 <span>(20)</span></a>
                                </li>
                                <li>
                                    <i class="flaticon-bin"></i>
                                    <a href="/blog">Augest  2016<span>(50)</span></a>
                                </li>
                                <li>
                                    <i class="flaticon-bin"></i>
                                    <a href="/blog">July  2015 <span>(40)</span></a>
                                </li>
                                <li>
                                    <i class="flaticon-bin"></i>
                                    <a href="/blog">October  2015 <span>(33)</span></a>
                                </li>
                                <li>
                                    <i class="flaticon-bin"></i>
                                    <a href="/blog">January  2014 <span>(44)</span></a>
                                </li>
                                <li>
                                    <i class="flaticon-bin"></i>
                                    <a href="/blog">December  2013 <span>(45)</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- archives start -->
                        <!-- sidebar tab start -->
                        <div class="cs-sidebar-tab-fild">
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs cs-nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a class="cs-tab-btn" href="/blog" role="tab" data-toggle="tab">Populer Post</a></li>
                                <li role="presentation"><a class="cs-tab-btn" href="/blog" role="tab" data-toggle="tab">upcoming events</a></li>
                              </ul>
                              <!-- Nav tabs end -->
                              <!-- tab content start -->
                              <div class="tab-content cs-tab-content">
                                  <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                                    <div class="cs-tab-single-item clearfix">
                                        <img src="images/blog/tab1.jpg" alt="images/blog/tab1.jpg">
                                        <p><a href="/blog">GONE TO GHANA – VOLUN TEERING IN AFRICA</a></p>
                                    </div>
                                    <div class="cs-tab-single-item clearfix">
                                        <img src="images/blog/tab2.jpg" alt="images/blog/tab2.jpg">
                                        <p><a href=/blog">GONE TO GHANA – VOLUN TEERING IN AFRICA</a></p>
                                    </div>
                                    <div class="cs-tab-single-item clearfix">
                                        <img src="images/blog/tab3.jpg" alt="images/blog/tab3.jpg">
                                        <p><a href="/blog">GONE TO GHANA – VOLUN TEERING IN AFRICA</a></p>
                                    </div>
                                  </div>

                                  <div role="tabpanel" class="tab-pane fade" id="tab2">
                                        <div class="cs-tab-single-item clearfix">
                                            <img src="images/blog/tab1.jpg" alt="images/blog/tab1.jpg">
                                            <p><a href="/blog">GONE TO GHANA – VOLUN TEERING IN AFRICA</a></p>
                                        </div>
                                        <div class="cs-tab-single-item clearfix">
                                            <img src="images/blog/tab2.jpg" alt="images/blog/tab2.jpg">
                                            <p><a href="/blog">GONE TO GHANA – VOLUN TEERING IN AFRICA</a></p>
                                        </div>
                                        <div class="cs-tab-single-item clearfix">
                                            <img src="images/blog/tab3.jpg" alt="images/blog/tab3.jpg">
                                            <p><a href="/blog">GONE TO GHANA – VOLUN TEERING IN AFRICA</a></p>
                                        </div>
                                  </div>
                               </div>
                               <!-- tab content end -->
                        </div>
                        <!-- sidebar tab start -->
                        <!-- widget start -->
                        <div class="cs-widget-fild">
                            <h4>Text <span>Widget</span></h4>
                            <div class="small-line-2"></div>
                            <p>Sed mollis pulvinar luctus. Mauris maximus, dolor eget aliquam tristique, diam dui ultrices massa.</p>
                        </div>
                        <!-- widget end -->
                        <!-- tag start -->
                        <div class="cs-tag-fild clearfix">
                            <h4>Tag <span>Widget</span></h4>
                            <div class="small-line-2"></div>
                            <a href="/blog">Education</a>
                            <a href="/blog">Crisis</a>
                            <a href="/blog">Water</a>
                            <a href="/blog">Giving</a>
                            <a href="/blog">Children</a>
                            <a href="/blog">Small Business</a>
                        </div>
                        <!-- tag end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog end -->
