<!-- page heading start -->
    <section class="cs-page-heading-area" style="background-image: url(images/bgs/07.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 animatedParent animateOnce">
                    <div class="cs-around-bdr animated bounceInDown slow">
                        <div class="cs-pageheading-box text-center">
                            <h2>Contact</h2>
                            <p><a href="/">Home</a> >> <a href="/contact">Contact</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page heading end -->

    <!-- contact 1 start -->
    <section class="contact-1">
          <div class="container">
              <div class="section-content">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="contact-item">
                              <div class="content">
                                  <h5>contact us : </h5>
                                  <p>17 Downtown St, Victoria,<br>Australia</p>
                              </div>
                              <span class="icon icon-Starship"></span>
                          </div>
                          <div class="contact-item">
                              <div class="content">
                                  <h5>call us : </h5>
                                  <p>+(01) 123 456 7896<br>+(01) 123 456 7899</p>
                              </div>
                              <span class="icon icon-Phone2"></span>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <!-- Contact Form -->
                              <h2>send us <span>message</span> </h2>
                              <form class="contact-form" method="post" action="http://demo.iamhafiz.me/cleaning/content-form/contact.php" role="form">
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_name">Name *</label>
                                                <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Name is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_lastname">Phone *</label>
                                                <input id="form_phone" type="text" name="phone" class="form-control" placeholder="Please enter your phone *" required="required" data-error="Phone number is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_email">Email *</label>
                                                <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div> 
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_service">Select Your Services</label>
                                                  <select class="form-control" name="service">
                                                    <option>Select Your Services</option>
                                                    <option>Office Cleaning</option>
                                                    <option>Room Cleaning</option>
                                                    <option>Glass Cleaning</option>
                                                    <option>Hotel Cleaning</option>
                                                  </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="form_message">Message *</label>
                                                <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-success btn-send" value="Send message">
                                        </div>
                                    </div>
                                </div>
                              </form>                        
                      </div>
                  </div>
              </div>
          </div>
    </section>
    <!-- contact 1 end -->
    
    <!-- contact 1 end -->
        
    
    <section class="map-section">
      <!--Map Container-->
      <div class="map-outer">
          <!--Map Canvas-->
          <div class="map-contact"
              data-zoom="12"
              data-lat="-37.817085"
              data-lng="144.955631"       
              data-type="roadmap"
              data-hue="#ffc400"
              data-title="Envato"
              data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>"              
              style="height: 310px;">
          </div>
          
      </div>
    </section>