
    <!--Main Slider-->
    <section class="main-slider default-style style-one">
        <div class="tp-banner-container">
          <div class="tp-banner">
            <ul>
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="2000" data-thumb="images/slider/3.jpg"  data-saveperformance="off"  data-title="Awesome Title Here"> <img src="images/slider/3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="center"
                        data-y="center"
                        data-hoffset="0"
                        data-voffset="0"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutBounce"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn">
                  <h2 class="bg-color"></h2>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="center"
                        data-y="center"
                        data-hoffset="0"
                        data-voffset="-65"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeInOutQuart"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeOut">
                  <h2 class="slider-title-3">leave <span>the house</span></h2>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="center"
                        data-y="center"
                        data-hoffset="0"
                        data-voffset="-15"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeInOutQuart"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeOut">
                  <h2 class="slider-title-4"> <span>cleaning </span>chores to us</h2>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="center"
                        data-y="center"
                        data-hoffset="0"
                        data-voffset="50"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeInOutQuart"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeOut">
                    <div class="slider-icon">
                        <ul class="list-inline">
                            <li><span class="flaticon-window"></span></li>
                            <li><span class="flaticon-towel"></span></li>
                            <li><span class="flaticon-bucket"></span></li>
                            <li><span class="flaticon-vacuum-cleaner"></span></li>
                        </ul></div>
                </div>
              </li>
              <li data-transition="curtain-2" data-slotamount="1" data-masterspeed="1000" data-thumb="images/slider/1.jpg"  data-saveperformance="off"  data-title="Awesome Title Here"> <img src="images/slider/1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="555"
                        data-y="center"
                        data-hoffset="0"
                        data-voffset="-110"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutBounce"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn">
                  <h6 class="sub-title">leave the house cleaning chores to us</h6>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="550"
                        data-y="190"
                        data-hoffset="250"
                        data-voffset="0"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeInOutQuart"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeOut">
                  <h2 class="main-title">relax and fun with <br> your <span>leisure time</span></h2>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="560"
                        data-y="320"
                        data-hoffset="0"
                        data-voffset="150"
                        data-speed="1500"
                        data-start="2000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><a href="/services" class="btn slider-btn">About more</a></div>
              </li>
              <li data-transition="curtain-1" class="" data-slotamount="1" data-masterspeed="1000" data-thumb="images/slider/2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here"> <img src="images/slider/2.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="555"
                        data-y="center"
                        data-hoffset="0"
                        data-voffset="-110"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutBounce"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn">
                  <h6 class="sub-title-1">leave the house cleaning chores to us</h6>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="550"
                        data-y="190"
                        data-hoffset="250"
                        data-voffset="0"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeInOutQuart"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeOut">
                  <h2 class="main-title-1">relax and fun with <br> your <span>leisure time</span></h2>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="560"
                        data-y="320"
                        data-hoffset="0"
                        data-voffset="150"
                        data-speed="1500"
                        data-start="2000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><a href="/about" class="btn slider-btn-2">About more</a></div>
              </li>
            </ul>
            <div class="tp-bannertimer"></div>
          </div>
        </div>
    </section>



    <!-- about start -->
    <section class="cs-about-area-three">
        <div class="container">
            <div class="section-wrap">
                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-12 animatedParent animateOnce">
                       <div class="cs-about-col animated bounceInLeft slow delay-250">
                          <img src="images/about/04.jpg" alt="images/about/04.jpg"> 
                       </div> 
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 animatedParent animateOnce">
                       <div class="cs-about-col animated bounceInRight slow delay-250">
                           <h6>Cleaning Master About us</h6>
                           <h2>To get that feeling <span>of Freshness</span></h2>
                           <p><span>Vivamus hendrerit nulla vel feugiat iaculis. Sed maximus ex metus, nec imperdiet leo condimentum nec. Quisque sed sem vel ligula facilisis eleifend.</span></p><br>
                           <p>Quisque sed sem vel ligula facilisis eleifend. Phasellus consectetur porta ipsum, eget interdum quam scelerisque fermentum. Proin quam sem, tincidunt sit amet venenatis quis, fermentum nec tortor. Donec eleifend vehicula ultrices. Etiam nec sapien in nulla faucibus tincidunt. Sed at tincidunt orci. Etiam ut nunc dui. Cras eget ex rhoncus, ornare nulla at, posuere ex.  Proin quam sem, tincidunt sit amet venenatis quis, fermentum nec tortor. Donec eleifend vehicula ultrices. Etiam nec sapien in nulla faucibus tincidunt. Sed at tincidunt orci.</p>
                           <a class="btn btn-default cs-my-btn mt20" href="#" role="button">Meet Our Team</a>
                       </div> 
                    </div>
                </div>
                <div class="row animatedParent animateOnce">
                    <div class="col-sm-4">
                       <div class="cs-about-col cs-about-box animated bounceIn slow delay-250">
                            <div class="cs-about-box-heading">
                                <i class="flaticon-dustpan"></i>
                                <h4>Find a great cleaner nearby</h4>
                                <p><em>Proin eget mi imperdie</em></p>
                            </div>
                            <p>Etiam vitae augue mollis, tempus urna id, porttitor  mi. Nunc malesuada.</p>
                        </div> 
                    </div>
                    <div class="col-sm-4">
                       <div class="cs-about-col cs-about-box animated bounceIn slow delay-500">
                            <div class="cs-about-box-heading">
                                <i class="flaticon-towel"></i>
                                <h4>Find a great cleaner nearby</h4>
                                <p><em>Proin eget mi imperdie</em></p>
                            </div>
                            <p>Etiam vitae augue mollis, tempus urna id, porttitor  mi. Nunc malesuada.</p>
                        </div> 
                    </div>
                    <div class="col-sm-4">
                       <div class="cs-about-col cs-about-box animated bounceIn slow delay-750">
                            <div class="cs-about-box-heading">
                                <i class="flaticon-wipe"></i>
                                <h4>Find a great cleaner nearby</h4>
                                <p><em>Proin eget mi imperdie</em></p>
                            </div>
                            <p>Etiam vitae augue mollis, tempus urna id, porttitor  mi. Nunc malesuada.</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about end -->


    <!-- video start -->
    <section class="cs-video-area" style="background-image: url(images/bgs/03.jpg);">
        <div class="container">
            <div class="section-wrap">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>Cleaning isn't all that interesting <br> to me. I'm disorganized.</h2>
                        <a href="https://www.youtube.com/watch?v=0kIIGQYdUJw" class="lightbox-image" title="Image Caption Here"><span class="icon icon-Play"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- video end -->


    <!-- product start -->
    <section class="cs-product-area animatedParent animateOnce">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <h2>Our <span>product</span> </h2>
                        <p><em>Donec suscipit turpis mi, id hendrerit augue ornare nec. Integer ultrices justo non semper varius. Integer ac ex sit amet lacus sollicitudin faucibus sed sed eros.</em> </p>
                        <div class="title-2">
                            <div class="long-border"></div>
                            <div class="small-border"></div>
                            <span class="flaticon-dust"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cs-wd-100per">
                        <div class="cs-product-col animated bounceInUp slow delay-250">
                            <div class="cs-product-item">
                                <div class="cs-product-img">
                                    <img src="images/product/01.jpg" alt="images/product/01.jpg">
                                </div>
                                <div class="cs-product-content">
                                    <h4>Title Here</h4>
                                    <p><del>14.00$</del> <span>12.00$</span></p>
                                    <a class="btn btn-default cs-my-btn" href="#" role="button">add to cart</a>
                                    <div class="cs-icon-box">
                                        <a href="#"><span class="icon icon-Heart"></span></a>
                        <a href=""><span class="icon icon-ShoppingCart"></span><sup>2</sup></a>
                                        <a href="#"><span class="icon icon-Eye"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cs-wd-100per">
                        <div class="cs-product-col animated bounceInUp slow delay-500">
                            <div class="cs-product-item">
                                <div class="cs-product-img">
                                    <img src="images/product/02.jpg" alt="images/product/02.jpg">
                                </div>
                                <div class="cs-product-content">
                                    <h4>Title Here</h4>
                                    <p><del>14.00$</del> <span>12.00$</span></p>
                                    <a class="btn btn-default cs-my-btn" href="#" role="button">add to cart</a>
                                    <div class="cs-icon-box">
                                        <a href="#"><span class="icon icon-Heart"></span></a>
                        <a href="#"><span class="icon icon-ShoppingCart"></span><sup>2</sup></a>
                                        <a href="#"><span class="icon icon-Eye"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cs-wd-100per">
                        <div class="cs-product-col animated bounceInUp slow delay-750">
                            <div class="cs-product-item">
                                <div class="cs-product-img">
                                    <img src="images/product/03.jpg" alt="images/product/03.jpg">
                                </div>
                                <div class="cs-product-content">
                                    <h4>Title Here</h4>
                                    <p><del>14.00$</del> <span>12.00$</span></p>
                                    <a class="btn btn-default cs-my-btn" href="#" role="button">add to cart</a>
                                    <div class="cs-icon-box">
                                        <a href="#"><span class="icon icon-Heart"></span></a>
                        <a href=""><span class="icon icon-ShoppingCart"></span><sup>2</sup></a>
                                        <a href="#"><span class="icon icon-Eye"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cs-wd-100per">
                        <div class="cs-product-col animated bounceInUp slow delay-1000">
                            <div class="cs-product-item">
                                <div class="cs-product-img">
                                    <img src="images/product/04.jpg" alt="images/product/04.jpg">
                                </div>
                                <div class="cs-product-content">
                                    <h4>Title Here</h4>
                                    <p><del>14.00$</del> <span>12.00$</span></p>
                                    <a class="btn btn-default cs-my-btn" href="#" role="button">add to cart</a>
                                    <div class="cs-icon-box">
                                        <a href="#"><span class="icon icon-Heart"></span></a>
                        <a href="#"><span class="icon icon-ShoppingCart"></span><sup>2</sup></a>
                                        <a href="#"><span class="icon icon-Eye"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cs-wd-100per">
                        <div class="cs-product-col animated bounceInUp slow delay-1250">
                            <div class="cs-product-item">
                                <div class="cs-product-img">
                                    <img src="images/product/05.jpg" alt="images/product/05.jpg">
                                </div>
                                <div class="cs-product-content">
                                    <h4>Title Here</h4>
                                    <p><del>14.00$</del> <span>12.00$</span></p>
                                    <a class="btn btn-default cs-my-btn" href="#" role="button">add to cart</a>
                                    <div class="cs-icon-box">
                                        <a href="#"><span class="icon icon-Heart"></span></a>
                        <a href=""><span class="icon icon-ShoppingCart"></span><sup>2</sup></a>
                                        <a href="#"><span class="icon icon-Eye"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cs-wd-100per">
                        <div class="cs-product-col animated bounceInUp slow delay-1500">
                            <div class="cs-product-item">
                                <div class="cs-product-img">
                                    <img src="images/product/06.jpg" alt="images/product/06.jpg">
                                </div>
                                <div class="cs-product-content">
                                    <h4>Title Here</h4>
                                    <p><del>14.00$</del> <span>12.00$</span></p>
                                    <a class="btn btn-default cs-my-btn" href="#" role="button">add to cart</a>
                                    <div class="cs-icon-box">
                                        <a href="#"><span class="icon icon-Heart"></span></a>
                        <a href="#"><span class="icon icon-ShoppingCart"></span><sup>2</sup></a>
                                        <a href="#"><span class="icon icon-Eye"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cs-wd-100per">
                        <div class="cs-product-col animated bounceInUp slow delay-1750">
                            <div class="cs-product-item">
                                <div class="cs-product-img">
                                    <img src="images/product/07.jpg" alt="images/product/07.jpg">
                                </div>
                                <div class="cs-product-content">
                                    <h4>Title Here</h4>
                                    <p><del>14.00$</del> <span>12.00$</span></p>
                                    <a class="btn btn-default cs-my-btn" href="#" role="button">add to cart</a>
                                    <div class="cs-icon-box">
                                        <a href="#"><span class="icon icon-Heart"></span></a>
                        <a href="#"><span class="icon icon-ShoppingCart"></span><sup>2</sup></a>
                                        <a href="#"><span class="icon icon-Eye"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cs-wd-100per">
                        <div class="cs-product-col animated bounceInUp slow delay-2000">
                            <div class="cs-product-item">
                                <div class="cs-product-img">
                                    <img src="images/product/08.jpg" alt="images/product/08.jpg">
                                </div>
                                <div class="cs-product-content">
                                    <h4>Title Here</h4>
                                    <p><del>14.00$</del> <span>12.00$</span></p>
                                    <a class="btn btn-default cs-my-btn" href="#" role="button">add to cart</a>
                                    <div class="cs-icon-box">
                                        <a href="#"><span class="icon icon-Heart"></span></a>
                        <a href="shop-cart.html"><span class="icon icon-ShoppingCart"></span><sup>2</sup></a>
                                        <a href="#"><span class="icon icon-Eye"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product end -->


    <!-- counter start -->
    <section class="cs-counter-area" style="background-image: url(images/bgs/06.jpg);">
        <div class="container">
            <div class="section-wrap">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="cs-counter-col">
                            <div class="cs-number-count">
                                <i class="flaticon-sweep"></i>
                                <span class="count">40</span>
                                <p>Experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="cs-counter-col">
                            <div class="cs-number-count">
                                <i class="flaticon-sweep"></i>
                                <span class="count">850</span><span>+</span> 
                                <p>Client</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="cs-counter-col">
                            <div class="cs-number-count">
                                <i class="flaticon-sweep"></i>
                                <span class="count">200</span>
                                <p>Employess</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="cs-counter-col">
                            <div class="cs-number-count">
                                <i class="flaticon-sweep"></i>
                                <span class="count">50</span>
                                <p>Global Brance</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counter end -->



    <!-- portfolio start -->
    <section class="cs-portfolio-area-two">
      <div class="container">
        <div class="section-title">  
            <div class="row">        
                <div class="col-sm-12">
                    <div class="title">
                        <i class="flaticon-detergent"></i>
                        <h2>our <span>portfolio</span></h2>
                        <p>Donec suscipit turpis mi, id hendrerit augue ornare nec. Integer ultrices justo non semper<br> varius. Integer ac ex sit amet lacus sollicitudin faucibus sed sed eros.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-wrap">
            <div class="row clearfix">
                <div class="portfolio-filter-item">
                    <ul class="portfolio-filter">
                        <li class="active"><a href="/services" data-filter="*">All Projects</a></li>
                        <li><a href="/services" data-filter=".item-one">Commercial</a></li>
                        <li><a href="/services" data-filter=".item-two">Streaming</a></li>
                        <li><a href="/services" data-filter=".item-three">Exterior</a></li>
                        <li><a href="/services" data-filter=".item-four">Flooring</a></li>
                        <li><a href="/services" data-filter=".item-five">Others</a></li>
                    </ul>
                </div>

                <div class="portfolio col-3 gutter portfolio-with-title">
                    <div class="portfolio-item item-two">
                        <div class="thumb">
                            <img src="images/portfolio/01.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="portfolio-btn">
                                    <a href="images/portfolio/01.jpg" class="popup-link" title="Bonded & insured"> <i class="icon icon-Search"></i>  </a>
                                </div>
                                <div class="portfolio-info">
                                    <h4><a href="images/portfolio/01.jpg" class="popup-link" title="Bonded & insured">Bonded & insured</a></h4>
                                    <p><a href="/services">office cleaning </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item item-one item-five">
                        <div class="thumb">
                            <img src="images/portfolio/02.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="portfolio-btn">
                                    <a href="images/portfolio/02.jpg" class="popup-link" title="Bonded & insured"> <i class="icon icon-Search"></i>  </a>
                                </div>
                                <div class="portfolio-info">
                                    <h4><a href="images/portfolio/02.jpg" class="popup-link" title="Bonded & insured">Bonded & insured</a></h4>
                                    <p><a href="/services">office cleaning </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item item-four">
                        <div class="thumb">
                            <img src="images/portfolio/03.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="portfolio-btn">
                                    <a href="images/portfolio/03.jpg" class="popup-link" title="Bonded & insured"> <i class="icon icon-Search"></i>  </a>
                                </div>
                                <div class="portfolio-info">
                                    <h4><a href="images/portfolio/03.jpg" class="popup-link" title="Bonded & insured">Bonded & insured</a></h4>
                                    <p><a href="/services">office cleaning </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item item-one item-three">
                        <div class="thumb">
                            <img src="images/portfolio/04.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="portfolio-btn">
                                    <a href="images/portfolio/04.jpg" class="popup-link" title="Bonded & insured"> <i class="icon icon-Search"></i>  </a>
                                </div>
                                <div class="portfolio-info">
                                    <h4><a href="images/portfolio/04.jpg" class="popup-link" title="Bonded & insured">Bonded & insured</a></h4>
                                    <p><a href="/services">office cleaning </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item item-one item-five">
                        <div class="thumb">
                            <img src="images/portfolio/05.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="portfolio-btn">
                                    <a href="images/portfolio/05.jpg" class="popup-link" title="Bonded & insured"> <i class="icon icon-Search"></i>  </a>
                                </div>
                                <div class="portfolio-info">
                                    <h4><a href="images/portfolio/05.jpg" class="popup-link" title="Bonded & insured">Bonded & insured</a></h4>
                                    <p><a href="/services">office cleaning </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item item-one item-four">
                        <div class="thumb">
                            <img src="images/portfolio/06.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="portfolio-btn">
                                    <a href="images/portfolio/06.jpg" class="popup-link" title="Bonded & insured"> <i class="icon icon-Search"></i>  </a>
                                </div>
                                <div class="portfolio-info">
                                    <h4><a href="images/portfolio/06.jpg" class="popup-link" title="Bonded & insured">Bonded & insured</a></h4>
                                    <p><a href="/services">office cleaning </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
   </section>
    <!-- portfolio end -->


      <!--testimonial start-->
      <section class="cs-testimonial-area cs-testimonial-area-two">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>what our <span>client says</span></h2>
                        <div class="small-line mbn"></div>
                    </div>
                </div>
            </div>
            <div class="section-wrap">
                <div class="row">
                  <div class="testimonial-2">
                    <!-- single item start -->
                    <div class="item">
                        <div class="cs-testimonial-item">
                           <div class="cs-testimonial-name"> 
                            <img src="images/testimonial/01.jpg" alt="images/testimonial/01.jpg">
                            <h4>Josi welleam</h4>
                            <span>Founder , GitGat</span>
                            <div class="cs-start-mark">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <i class="fa fa-quote-right cs-quote" aria-hidden="true"></i>
                          </div> 
                        </div>
                        <p>Donec malesuada interdum malesuada. Cras placerat fermentum feugiat. Sed dignissim lectus ut diam iaculis ultrices. Nullam posuere tempor enim. Integer sit amet ultrices leo, at consequat turpis. Nullam est elit, ultricies non mauris id, auctor ullamcorper sem. Morbi sed arcu nisi. Integer vestibulum odio sit amet .</p>
                    </div>
                    <!-- single item end -->
                    <!-- single item start -->
                    <div class="item">
                        <div class="cs-testimonial-item">
                           <div class="cs-testimonial-name"> 
                            <img src="images/testimonial/02.jpg" alt="images/testimonial/02.jpg">
                            <h4>Josi welleam</h4>
                            <span>Founder , GitGat</span>
                            <div class="cs-start-mark">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <i class="fa fa-quote-right cs-quote" aria-hidden="true"></i>
                          </div> 
                        </div>
                        <p>Donec malesuada interdum malesuada. Cras placerat fermentum feugiat. Sed dignissim lectus ut diam iaculis ultrices. Nullam posuere tempor enim. Integer sit amet ultrices leo, at consequat turpis. Nullam est elit, ultricies non mauris id, auctor ullamcorper sem. Morbi sed arcu nisi. Integer vestibulum odio sit amet .</p>
                    </div>
                    <!-- single item end -->
                  </div>
                </div>
            </div>
        </div>
      </section>
      <!--testimonial end-->




    <!-- blog start -->
    <section class="cs-blog-area">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <h2>latest <span>news</span></h2>
                        <p><em>Donec suscipit turpis mi, id hendrerit augue ornare nec. Integer ultrices justo non semper varius. Integer ac ex sit amet lacus sollicitudin faucibus sed sed eros.</em></p>
                        <div class="title-2">
                            <div class="long-border"></div>
                            <div class="small-border"></div>
                            <span class="flaticon-dust"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap">
                <div class="row">
         <div class="col-sm-6">
             <div class="cs-blog-col">
             <div class="cs-blog-img">
            <img src="images/blog/01.jpg" alt="images/blog/01.jpg">
            <div class="cs-like">
         <p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="#">22 Likes</a></p>
                                </div>
         <div class="cs-fullscreen-btn">
          <a href="#"><span class="icon icon-FullScreen"></span></a>
                                </div>
        <div class="cs-blog-date">
                                    <ul>
        <li><span class="icon icon-User"></span> <a href="#">CM Group</a></li>
        <li><span class="icon icon-Agenda"></span> <a href="#">March 12, 2018</a></li>
                                    </ul>
                                </div>
         <div class="cs-round-img">
        <img src="images/blog/06.jpg" alt="images/blog/06.jpg">
                                </div>
                            </div>
 <div class="cs-blog-text-content">
     <h4><a href="/">Returns Back Rogers</a></h4>
  <p>Maecenas venenatis enim vel finibus viverra. Cras tincidunt ipsum sit amet efficitur dictum. Mauris in ln accumsan sapien dui condimentum enim. Mauris pellentesque, lectus at dictum pretium, diam lectus elementum velit, in efficitur mi dui in diam. Pellentesque auctor libero non tortor elementum egestas. Phasellus ullamcorper aliquam magna vitae elementum. <a href="/">[...]</a></p>
                            </div>
   <div class="cs-blog-social-box">
  <ul class="cs-share-icon clearfix">
     <li>Share:</li>
  <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
     <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
 <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
 <li class="cs-comment"><span class="icon icon-Mail"></span><a href="#">10 Comments</a> </li>
 <li><a class="btn btn-default cs-my-btn cs-res-margin" href="#" role="button">Learn More</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
  <div class="col-sm-6">
  <div class="row">
 <div class="col-sm-6 col-xs-12">
 <div class="cs-blog-col">
 <div class="cs-blog-img">  <img src="images/blog/02.jpg" alt="images/blog/02.jpg">
  <div class="cs-like">
    <p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="">22 Likes</a></p>
         </div>
     <div class="cs-fullscreen-btn">
  <a href="#"><span class="icon icon-FullScreen"></span></a>
                </div>
     <div class="cs-blog-date">
                    <ul>
                                                <li><span class="icon icon-User"></span> <a href="index-mp-layout-3.html#">CM Group</a></li>
                                                <li><span class="icon icon-Agenda"></span> <a href="index-mp-layout-3.html#">March 12, 2018</a></li>
  </ul>
         </div>
                                    </div>
<div class="cs-blog-text-content">
  <h4><a href="/#">Returns Back Rogers</a></h4>
                                    </div>
<div class="cs-blog-social-box">  <ul class="cs-share-icon cs-comment-box clearfix">
 <li class="cs-comment"><span class="icon icon-Mail"></span><a href="#">10 Comments</a> </li>
 <li><a class="btn btn-default cs-my-btn" href="/" role="button">Learn More</a></li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
  <div class="col-sm-6 col-xs-12">
 <div class="cs-blog-col">
<div class="cs-blog-img">
 <img src="images/blog/03.jpg" alt="images/blog/03.jpg">
<div class="cs-like">
<p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="#">22 Likes</a></p>
     </div>
<div class="cs-fullscreen-btn">
<a href="#"><span class="icon icon-FullScreen"></span></a>
    </div>
 <div class="cs-blog-date">
    <ul>
                                                <li><span class="icon icon-User"></span> <a href="index-mp-layout-3.html#">CM Group</a></li>
                                                <li><span class="icon icon-Agenda"></span> <a href="index-mp-layout-3.html#">March 12, 2018</a></li>
                                            </ul>
                                        </div>
                                    </div>
 <div class="cs-blog-text-content">
 <h4><a href="/">Returns Back Rogers</a></h4>
     </div>
<div class="cs-blog-social-box">  <ul class="cs-share-icon cs-comment-box clearfix">
 <li class="cs-comment"><span class="icon icon-Mail"></span><a href="#">10 Comments</a> </li>
 <li><a class="btn btn-default cs-my-btn" href="/services" role="button">Learn More</a></li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                        </div>
 <div class="row">
 <div class="col-sm-6 col-xs-12">
 <div class="cs-blog-col">
 <div class="cs-blog-img">
<img src="images/blog/04.jpg" alt="images/blog/04.jpg">
 <div class="cs-like">
  <p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="#">22 Likes</a></p>
                                        </div>
  <div class="cs-fullscreen-btn">
<a href="#"><span class="icon icon-FullScreen"></span></a>
                                        </div>
<div class="cs-blog-date">
    <ul>
                                                <li><span class="icon icon-User"></span> <a href="index-mp-layout-3.html#">CM Group</a></li>
                                                <li><span class="icon icon-Agenda"></span> <a href="index-mp-layout-3.html#">March 12, 2018</a></li>
    </ul>
</div>
                                    </div>
<div class="cs-blog-text-content">
 <h4><a href="/">Returns Back Rogers</a></h4>
                                    </div>
  <div class="cs-blog-social-box">
 <ul class="cs-share-icon cs-comment-box clearfix">
<li class="cs-comment"><span class="icon icon-Mail"></span><a href="#">10 Comments</a> </li>
 <li><a class="btn btn-default cs-my-btn" href="#" role="button">Learn More</a></li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
 <div class="col-sm-6 col-xs-12">
 <div class="cs-blog-col">
 <div class="cs-blog-img">
 <img src="images/blog/05.jpg" alt="images/blog/05.jpg">
 <div class="cs-like">
 <p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="#">22 Likes</a></p>
    </div>
<div class="cs-fullscreen-btn">
 <a href="#"><span class="icon icon-FullScreen"></span></a>
             </div>
<div class="cs-blog-date">
     <ul>
                                                <li><span class="icon icon-User"></span> <a href="index-mp-layout-3.html#">CM Group</a></li>
                                                <li><span class="icon icon-Agenda"></span> <a href="index-mp-layout-3.html#"></</div>
<div class="cs-blog-text-content">
<h4><a href="/">Returns Back Rogers</a></h4>
                                    </div>
<div class="cs-blog-social-box">
 <ul class="cs-share-icon cs-comment-box clearfix">
<li class="cs-comment"><span class="icon icon-Mail"></span><a href="#">10 Comments</a> </li>
<li><a class="btn btn-default cs-my-btn" href="/services" role="button">Learn More</a></li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog end -->