
    <!-- page heading start -->
    <section class="cs-page-heading-area page-top" style="background-image: url(images/bgs/07.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 animatedParent animateOnce">
                    <div class="cs-around-bdr animated bounceInDown slow">
                        <div class="cs-pageheading-box text-center">
                            <h2>Service Details</h2>
                            <p><a href="/">Home</a> >> <a href="/services">Service Details</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page heading end -->


    <!-- service-details start -->
    <section class="cs-service-details-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-5">
                    <div class="cs-service-details-col">
                        <div class="title">
                            <h2>Our <span>services</span></h2>
                            <div class="small-line"></div>
                        </div>
                        
                        <ul>
                            <li><i class="flaticon-bin"></i><a href="/services">Clean Plastic Food Containers</a></li>
                            <li><i class="flaticon-bin"></i><a href="/services">Clean the Kitchen Sink</a></li>
                            <li><i class="flaticon-bin"></i><a href="/services">Sanitize Kitchen Sponges</a></li>
                            <li><i class="flaticon-bin"></i><a href="/services">Find a great cleaner nearby</a></li>
                            <li><i class="flaticon-bin"></i><a href="/services">Manage everything online</a></li>
                            <li><i class="flaticon-bin"></i><a href="/services">Book your local, trusted cleaner</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-7">
                        <div class="title">
                            <h2 class="cs-section-title">
                                Clean the <span>Kitchen Sink</span> 
                            </h2>
                            <div class="small-line"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                               <div class="cs-service-details-col">
                                  <p class="cs-mb-20">In blandit odio sapien, finibus imperdiet felis aliquam eu. Phasellus ut cursus ligula. Quisque ligula lacus, convallis id aliquam et, lacinia a augue. Integer in bibendum nisi. Donec finibus at sem a interdum. Ut id libero ac neque luctus imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin mollis ultrices risus, non eleifend mi tincidunt sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer elementum finibus est id facilisis. Duis sed enim accumsan, sagittis sapien eget, bibendum mi. Sed luctus tellus quis efficitur finibus. Duis hendrerit elit nec diam aliquet bibendum</p>
                                  <p>
                                      Pellentesque blandit venenatis dolor, vitae hendrerit mi luctus ut. Cras et felis neque. Suspendisse sed enim sapien. Phasellus maximus lectus pretium mi egestas viverra. Curabitur sodales lorem quis varius sodales. Donec malesuada ultrices pretium. Sed eget facilisis tellus. Fusce cursus orci nec congue aliquet.
                                  </p> 
                               </div> 
                            </div>
                            <div class="col-lg-4 hidden-xs animatedParent animateOnce hidden-sm">
                                <div class="cs-service-details-col animated bounceIn slow delay-250">
                                    <img src="images/service/services_details.jpg" alt="images/service/services_details.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 animatedParent animateOnce">
                                <div class="cs-service-details-col animated bounceInLeft slow delay-250">
                                   <img src="images/service/08.jpg" alt="images/service/08.jpg"> 
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="cs-service-details-col">
                                    <p>Nulla ultricies nisl ligula, eu semper leo egestas fringilla. Sed elementum, lectus eleifend tempus porta, nibh nisi mollis purus, vitae ornare massa massa quis purus. Suspendisse eget fringilla tellus. Aliquam pretium scelerisque nulla at luctus. Proin non facilisis ligula. Aenean mi quam, gravida a massa vel, varius pulvinar dolor. Suspendisse rutrum neque vitae augue condimentum malesuada.</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-details end -->


    <!-- book cleaner start -->
    <section class="cs-book-cleaner-area">
        <div class="container" >
            <div class="section-wrap">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cs-bg-opacity black-overlay" style="background-image: url(images/bgs/01.jpg);">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h3>We would like to introduce ourselves as  a reliable and <br> <span>professional cleaning company.</span></h3>
                                    <p>get free estimate <span>1-244 - 12 - 3456</span> </p>
                                </div>  
                                <div class="col-sm-4 clearfix text-center">
                                    <div class="cs-vertical-line"></div>
                                    <a href="/contact" class="btn btn-default cs-my-btn">Book Your Cleaner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- book cleaner end -->




    <!-- plan start -->
    <section class="cs-plan-area cs-inner-plan-area">
        <div class="container">
            <div class="row animatedParent animateOnce">
                <div class="col-md-3 col-sm-6 col-xs-6 cs-wd-100per">
                    <div class="cs-plan-col text-center animated bounceInUp slow delay-250">
                        <div class="cs-plan-img">
                            <img src="images/plan/01.jpg" alt="images/plan/01.jpg">
                            <div class="cs-plan-content">
                                <h1><span>$</span>29</h1>
                                <p>Per Month</p>
                            </div>
                        </div>
                        <h5>basic plan</h5>
                        <ul>
                            <li>Basic Features </li>
                            <li>3 Cleaning </li>
                            <li>10 hours Calling </li>
                            <li>5 People at work </li>
                            <li>Free Suggestions</li>
                        </ul>
                        <a class="btn btn-default cs-my-btn" href="/services" role="button">View Details</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 cs-wd-100per">
                    <div class="cs-plan-col text-center animated bounceInUp slow delay-500">
                        <div class="cs-plan-img">
                            <img src="images/plan/02.jpg" alt="images/plan/02.jpg">
                            <div class="cs-plan-content">
                                <h1><span>$</span>39</h1>
                                <p>Per Month</p>
                            </div>
                        </div>
                        <h5>Standard Plan</h5>
                        <ul>
                            <li>Basic Features </li>
                            <li>3 Cleaning </li>
                            <li>10 hours Calling </li>
                            <li>5 People at work </li>
                            <li>Free Suggestions</li>
                        </ul>
                        <a class="btn btn-default cs-my-btn" href="/services" role="button">View Details</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 cs-wd-100per">
                    <div class="cs-plan-col text-center animated bounceInUp slow delay-750">
                        <div class="cs-plan-img">
                            <img src="images/plan/03.jpg" alt="images/plan/03.jpg">
                            <div class="cs-plan-content">
                                <h1><span>$</span>49</h1>
                                <p>Per Month</p>
                            </div>
                        </div>
                        <h5>Premium plan</h5>
                        <ul>
                            <li>Basic Features </li>
                            <li>3 Cleaning </li>
                            <li>10 hours Calling </li>
                            <li>5 People at work </li>
                            <li>Free Suggestions</li>
                        </ul>
                        <a class="btn btn-default cs-my-btn" href="/services" role="button">View Details</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 cs-wd-100per">
                    <div class="cs-plan-col text-center animated bounceInUp slow delay-1000">
                        <div class="cs-plan-img">
                            <img src="images/plan/04.jpg" alt="images/plan/04.jpg">
                            <div class="cs-plan-content">
                                <h1><span>$</span>59</h1>
                                <p>Per Month</p>
                            </div>
                        </div>
                        <h5>ultimate plan</h5>
                        <ul>
                            <li>Basic Features </li>
                            <li>3 Cleaning </li>
                            <li>10 hours Calling </li>
                            <li>5 People at work </li>
                            <li>Free Suggestions</li>
                        </ul>
                        <a class="btn btn-default cs-my-btn" href="/services" role="button">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- plan end -->
